@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Navbar*/

.navbar-brand{
    font-weight: 500;
    color: #333F63;
    font-size: 24px;
    transition: 0.3s color;
}

.subscribe-button{
    background-color: #715C8C;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s color;
}

.subscribe-button:hover{
    background-color: rgba(0, 0, 0, 0.604);
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: black;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #715C8C;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

/*Root for rest elements*/
:root {
    --text-dark: #171717;
    --text-light: #525252;
    --extra-light: #a3a3a3;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
}

/*Section*/
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

.section__header {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}
  
.section__description {
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
}

.btn1 {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
  
.btn1:hover {
    background-color: var(--text-light);
}

/*About*/
.about__container .section__description {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;
}
  
.about__container img {
    max-width: 170px;
    margin-inline: auto;
}
  
/*Portfolio*/
.portfolio__grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}
  
.portfolio__card {
    position: relative;
    isolation: isolate;
}
  
.portfolio__card::after {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: var(--header-font);
    color: var(--white);
}
  
.portfolio__card:nth-child(1)::after {
    content: "Portraits";
}
  
.portfolio__card:nth-child(2)::after {
    content: "Weddings";
}
  
.portfolio__card:nth-child(3)::after {
    content: "Fashions";
}
  
.portfolio__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}
  
.portfolio__card:hover .portfolio__content {
    opacity: 1;
}
  
/*Service*/
.service {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url("service.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.service__container .section__header {
    color: var(--white);
}
  
.service__container .section__description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--extra-light);
}
  
.service__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}
  
.service__card {
    text-align: center;
}
  
.service__card h4 {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}
  
.service__card h4::after {
    position: absolute;
    content: "~";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    line-height: 0;
}
  
.service__card p {
    color: var(--extra-light);
    line-height: 1.75rem;
}
 
/*Client*/
.client__container {
    padding-bottom: 2rem;
}

.swiper {
    margin-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
}

.client__card {
    max-width: 900px;
    margin-inline: auto;
    text-align: center;
}

.client__card img {
    max-width: 120px;
    margin-inline: auto;
    margin-bottom: 2rem;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
    line-height: 1.75rem;
}

.client__card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.swiper-pagination-bullet-active {
    background-color: var(--text-dark);
}

/*Gallery*/
.gallery__grid {
    margin-block: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.gallery__grid img {
    transition: 0.3s;
    width: 11rem;
}

.gallery__grid:hover img:not(:hover) {
    opacity: 0.5;
}

.gallery__btn {
    text-align: center;
}

/*Blog*/
.blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("blog.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
  
.blog__container {
    padding-block: 8rem;
    display: grid;
}
  
.blog__content {
    text-align: center;
}
  
.blog__content .section__header {
    margin-bottom: 2rem;
    color: var(--white);
}
  
.blog__content h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}
  
.blog__content p {
    margin-bottom: 2rem;
    line-height: 1.75rem;
    color: var(--extra-light);
}
  
.blog__content .btn {
    background-color: transparent;
    border: 1px solid var(--white);
}
  
/*Instagram-Swiper*/
.instagram__container {
    overflow: hidden;
}
  
.instagram__flex {
    margin-top: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
  
    animation: scroll 45s linear infinite;
}
  
.instagram__flex img {
    max-width: 135px;
}
  
@keyframes scroll {
    to {
      transform: translateX(calc(-50% - 0.5rem));
    }
  }

  .footer__container {
    display: grid;
    gap: 4rem 0;
    align-items: center;
  }
  
  .footer__col {
    padding-inline: 2rem;
  }
  
  .footer__container img {
    max-width: 170px;
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  
  .footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .footer__socials a {
    font-size: 1.5rem;
    color: var(--text-dark);
  }
  
  .footer__socials a:hover {
    color: var(--text-light);
  }
  
  .footer__links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .footer__links a {
    display: block;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
  }
  
  .footer__links a:hover {
    color: var(--text-light);
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
  }
  
  .footer__col p {
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--extra-light);
    background-color: var(--text-dark);
    text-align: center;
  }

  @media (width > 540px) {
    .portfolio__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .service__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .gallery__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer__col:nth-child(1) {
        grid-area: 1/1/2/3;
    }
    
    .footer__col:nth-child(3) {
        border-left: 2px solid var(--text-dark);
    }
  }
  
  @media (width > 768px) {
    .header {
      min-height: 650px;
    }

    .portfolio__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .service__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .gallery__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .blog__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .blog__content {
      grid-column: 2/3;
    }
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer__col:nth-child(1) {
        grid-area: 1/2/2/3;
        border-left: 2px solid var(--text-dark);
        border-right: 2px solid var(--text-dark);
    }
    
    .footer__col:nth-child(3) {
        border: none;
    }
  }

  @media (width > 1024px) {

    .portfolio__grid {
      gap: 2rem;
    }
  }